<!--
	© Copyright 2011-2016 Jeremy Gross
	jeremykentbgross@gmail.com
	Distributed under the terms of the GNU Lesser GPL (LGPL)
		
	This file is part of EmpathicCivGameEngine™.
	
	EmpathicCivGameEngine™ is free software: you can redistribute it and/or modify
	it under the terms of the GNU Lesser General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	EmpathicCivGameEngine™ is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Lesser General Public License for more details.
	
	You should have received a copy of the GNU Lesser General Public License
	along with EmpathicCivGameEngine™.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--!!
	* document: file
	* description: This file is a template for the ECGE Documentation Generation.  (Create Class)
-->

<h2>Class: {{name}}</h2>
<table>
	<tbody>
		{{> basicProperties this}}
	</tbody>
</table>

<img src="./images/{{#if namespace}}{{namespace}}.{{/if}}{{name}}.svg"></img>

{{> todosSection this}}	<!--!!TODO Validate 7:need use case!-->

<h3>Known Children:</h3>
<ul>
	{{#each childClasses}}
		<li><a href="/_protected_/docs/generated/classes/{{this}}.html" target="mainFrame">{{this}}</a>
<!--<a href="/_protected_/docs/generated/namespaces/{{#if namespace}}{{namespace}}.{{/if}}{{name}}.html" target="mainFrame">{{#if namespace}}{{namespace}}.{{/if}}{{name}}</a>
			(<a href="/_protected_/docs/generated/files/{{fileName}}.html#{{lineNumber}}">{{fileName}}:{{lineNumber}}</a>)
-->
		</li>
	{{/each}}
</ul>

{{> membersIndex this}}
{{> methodsIndex this}}

{{> membersSection this}}
{{> methodsSection this}}



